.download {
    background: url("images/download_images/bg_dl_img.png") no-repeat center center;
    background-size: cover;
    padding: 7rem 0;
}

.bold-dwn-txt {
    font-weight: 700;
}

.img-dwn-container {
    position: relative;
}

.img-dwn-home {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: 1.5s all !important;

}

.color-txt {
    color: #0893FF;
    font-weight: 700;
}

.const-btn {
    color: #0893FF !important;
    border-color: #0893FF !important;
}

.const-btn:hover {
    background-color: #0893FF !important;
    color: #FFF !important;
    transition: 0.3s all !important;
}

.download .txt-dwn {
    font-size: 1.5rem !important;
    color: #343434;
    width: 80%;

}

.download .dwn-btns {
    margin-right: 1.2rem !important;
    padding: 0.7rem;
}

.download-mobile-container h3 {
    display: none;
}

.container-dwn-home {
    max-width: 1370px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    justify-content: space-between;
}

@media only screen and (max-width:992px) {
    .dwn-desc-content .title-dwn {
        display: none;
    }

    .download-mobile-container h3 {
        display: block;
        margin-bottom: 1rem !important;
    }

    .download .txt-dwn {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem !important;
        line-height: 1.7rem;
    }
}





.img-dwn {
    width: 100%;
}

.img-dwn-user1 {
    position: absolute;
    width: 15%;
    top: 20%;
    left: 10%;
}


.img-dwn-user2 {
    position: absolute;
    width: 14%;
    top: 55%;
    left: 33%;
}

.img-dwn-service {
    position: absolute;
    width: 24%;
    top: 85%;
    left: 30%;
}

.img-dwn-chat1 {
    position: absolute;
    width: 32%;
    top: 70%;
    left: 14%;
}

.img-dwn-chat2 {
    position: absolute;
    width: 36%;
    top: 36%;
    left: 10%;
}

.img-dwn-fienad {
    position: absolute;
    width: 41%;
    top: 19%;
    right: 5.5%;
}

.img-dwn-card {
    position: absolute;
    width: 40%;
    top: 32%;
    right: 5%;
}

.img-dwn-scan {
    position: absolute;
    width: 30%;
    top: 10%;
    left: 10%;
}

.cube-wrap-dwn {
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

.cube-dwn {
    text-align: center;
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: .5s all;
    position: absolute;
    height: 100%;
    width: 100%;


}

.cube-dwn img {
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: .8s all;
}