.section.hero {
  background: url("images/header/background_header.png") no-repeat center center;
  background-size: cover;
  padding: 7rem 0 !important;

  .h3-title-home {
    line-height: 4.5rem !important;
    font-size: 4rem !important;
  }

  .txt-hero {
    font-size: 1.6rem !important;
    margin-bottom: 2rem;
  }

  .btn-dwn-home {
    &:hover {
      background-color: rgba($color: #3EBDB6, $alpha: .8) !important;
      transition: .2s background-color;
    }
  }

  .btn-uc-hm-main-div {
    &:hover {
      color: white !important;
      background-color: #3EBDB6;
      transition: .2s all;
    }
  }
}

.cube-wrap {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  position: relative;

  .cube {
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: .5s all;
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transition: .8s all;
      // box-shadow: -20px 20px 40px rgba($color: #073B4C, $alpha: 0.18);
    }

    .img-top {
      transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transition: 1.5s all !important;
      position: absolute;
      // width: 85%;
      width: 100%;
      top: 0;
    }

    .img-phone {
      position: absolute;
      width: 50% !important;
      height: auto !important;
      right: -2%;
      top: 0;

    }

    .img-aries {
      position: absolute;
      bottom: -5%;
      width: 40%;
      left: 0;

    }

    .img-logo-didcomm {
      position: absolute;
      left: 24%;
      bottom: -6.5%;
      width: 40%;
    }
  }
}



.on-bg-txt {
  background-color: #7678ED;
  color: #FFFFFF;
}

.us-txt {
  color: #3EBDB6 !important;
}

.color-text {
  color: #3EBDB6;
}


// .home-head-content {
//   width: 75%;
// }



// @media screen and (min-width:1170px) {
//   .navbar-nav.nav-menu.mb-2.mb-xl-0 {
//     margin-left: 12.5rem;
//     margin-right: 5rem;
//   }

// }

// @media screen and (min-width:1400px) {
//   .navbar-nav.nav-menu.mb-2.mb-xl-0 {
//     margin-left: 20.5rem;
//     margin-right: 5rem;
//   }

// }




@media screen and (max-width : 768px) {
  .cube-wrap {
    padding-bottom: 76%;
  }

  // .txt-hero-for-mobile {
  //   display: block;
  // }

  // .h3-title-home {
  //   display: none;
  // }

  // .hero-image {
  //   width: 100%;
  //   margin-left: 0;
  // }

  // .div-right-content-text {
  //   margin-top: 1rem;
  //   width: 100% !important;
  // }

  // .img-phone {
  //   position: absolute;
  //   width: 40% !important;
  //   height: auto !important;
  //   right: 0;
  // }
}