.img-fuild-left{
    width: 80px !important;
    height: 60px;
    margin-bottom: 30px;
    padding-top: 20px;
}
.scan-link{
    border: 1px solid rgba(7, 59, 76, 0.05) ;
    background-color: rgba(7, 59, 76, 0.05);
    padding: 10px 30px;
    color: #073B4C;
    border-radius: 50px;
}
.uc-image {
    width: auto !important;
    height: 700px !important;
}
.reminder {
    width: 350px;
}
.desc-usecase{
    /* min-height: 700px; */
  }

.back-btn{
    display: none;
    border: 1px solid rgba(7, 59, 76, 0.05) ;
    background-color: rgba(7, 59, 76, 0.05);
    padding: 10px 50px;
    color: #073B4C;
    border-radius: 50px;
}
.left-arrow{
    margin-right: 0.5rem;
}
.left-arrow{
    color: #3EBDB6;
}


.qr-code-scan-replace-img{
    display: none;
    align-self: center;
    margin: 0 auto ;
    /* width: 80%; */
    height: 500px;
    margin: 100px 0;
}

.qr-code-scan-replace-img svg {
    width: 100%;
    
}



.right-arrow{
    padding-left: 2px;
}


.anc-btn-uc-sm{
    text-decoration: none;
    font-size: 1rem !important;
    /* font-family: 'EuclidCircularA-Bold' !important; */
    /* font-weight: 700; */
}
.cls-btn-uc-container{
    margin-top: 2rem;
}
.para-uc-container{
    line-height: 40px;
    margin-top: 2rem !important;
}
.back-btn:hover{
    transition:0.5s all;
    background-color: #073B4C !important;
    color: #FFF !important;
}



@media screen and (max-width :768px) {
    .desc-usecase{
        min-height: auto;
      }
}