

.error-container{
    background : url("/images/404_error/bg_error.png") no-repeat center center;
}
.container-img-para-error img{
    height: auto;
    margin-top: 3rem;
    width: 55%;
    margin: 3rem auto;
  }

.container-img-para-error .para-error{
    margin-bottom: 3rem;
}
.para-error.text-center {
    width: 70%;
    margin-left: 14rem;
  }