.section.un_header{
    background-image: url("/images/under_header/background_uh.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sm-title{
    color: #3EBDB6;
    margin-bottom: 0.6rem !important;
    font-size: 1.4rem;
    font-weight: 600;
    /* font-family: 'EuclidCircularA-SemiBold'; */
}
/* .un_container{
    margin: 2rem auto 2rem auto ;
} */

.para-txt{
    color: #FFFFFF;
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin-bottom: 1rem !important;
    font-weight: 600;
    text-align: left !important;
    width: 68%;
   
}
.small-text{
    color: #FFFFFF;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    width: 70%;
}


@media only screen and (max-width : 768px) {
    .para-txt{
        width: 100%;
        font-size:1.9rem ;
    }
}
