<footer class="shared footer bg-blue-light ">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start footer-logo">
        {{ partial "utilities/image-fluid" "images/footer-img/logo-footer.png" }}
        <p class="small pt-2">{{ .Site.Params.description }}</p>
        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled logo-gh-li-tw-footer">
          {{ with .github }}<li class="rounded-circle bg-icon-footer me-2 p-2"><a
              class="d-flex align-items-center justify-content-center size-16 col-a" style="color: #FFFFFF !important;"
              href="{{ . }}">{{ partial "icons/icon_footer/github.html" }}</a></li>{{ end }}
          <!-- {{ with .instagram }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/instagram.html" }}</a></li>{{ end }} -->
          {{ with .linkedin }}<li class="rounded-circle bg-icon-footer me-2 p-2"><a
              class="d-flex align-items-center justify-content-center size-16 col-a " style="color: #FFFFFF !important;"
              href="{{ . }}">{{ partial "icons/icon_footer/linkedin.html" }}</a></li>{{ end }}
          {{ with .twitter }}<li class="rounded-circle bg-icon-footer me-2 p-2"><a
              class="d-flex align-items-center justify-content-center size-16 col-a" style="color: #FFFFFF !important;"
              href="{{ . }}">{{ partial "icons/twitter.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start footer-content pb-2 pb-md-4">
        <h5 class=" fw-semibold text-primary text-footer">About us</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
          <li class="">
            <a class="small text-about text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start footer-content pb-2 pb-md-4">
        <h5 class=" fw-semibold text-primary text-footer">Location</h5>
        <ul class="list-unstyled list-location">
          {{ range .Site.Params.location }}
          <li class="d-flex justify-content-center justify-content-xl-start mb-2">
            <div class="d-flex align-items-center text-primary geo-color">{{ partial "icons/geo-alt.html" }}</div>
            <p class="small text-loc m-0 ps-2">{{ . }}</p>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start footer-content pb-2 pb-md-4">
        <h5 class=" fw-semibold text-primary text-footer">Contact us</h5>
        {{ range .Site.Params.contact }}
        <p class="small mb-1 con-footer">{{ . }}</p>
        {{ end }}
      </div>
    </div>

  </div>
</footer>

<div class="row copyright">
  <div class="col-12">
    {{ with .Site.Params.copyright }}
    <p class="small text-center para-cr">{{ . }}</p>
    {{ end }}
  </div>
</div>