<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 py-lg-4 header-nav-sticky">
  <div class="container">
    <div class="logo-header">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <!-- {{ partial "utilities/image.html" "images/header/bg_header.png" }} -->
        <img src="/images/header/logo-2060.svg" alt="logo 2060" />
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav nav-menu my-2 my-lg-0 me-0 me-lg-5 ms-auto">
        {{ range .Site.Menus.main }}
        <li class=" nav-item text-center">
          <a class="nav-link px-4 col-navbar" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <div class="d-flex flex-column flex-lg-row align-items-center">
        {{ range .Site.Menus.externals }}
        <a href="{{ .URL }}" target="_blank" class="{{ .Pre }}">
          <img src="/images/header/github.svg" alt="{{ .Name }}" class="d-none d-lg-block" />
          <img src="/images/header/github-big.svg" alt="{{ .Name }}" class="d-block d-lg-none"
            style="height: 42px; width: auto;" />
        </a>
        {{ end }}
        {{ range .Site.Menus.buttons }}
        <a class="{{ .Pre }}" href="{{ .URL }}"><img src="/images/icons/icone-download.svg" class="dwn-style me-2"> {{ .Name }}</a>
        {{ end }}
      </div>
      <!-- <ul class="navbar-nav mb-2 mb-lg-0">
        <a href="https://github.com/2060-io" target="_blank" class="github-header">
          {{ partial "utilities/image-fluid" "images/github_icon.png" }}
          <img src="/images/header/github.svg" alt="logo 2060" />
        </a>
      </ul> -->
    </div>
  </div>
</nav>
<div class="marge-header"></div>