<nav class="navbar navbar-expand-xl navbar-light bg-light py-4 header-nav-sticky">
  <div class="container">
    <div class="logo-header">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <!-- {{ partial "utilities/image.html" "images/header/bg_header.png" }} -->
        <img src="/images/header/logo-2060.svg" alt="logo 2060" />
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav nav-menu mb-2 mb-xl-0 me-0 me-md-5 ms-auto">
        {{ range .Site.Menus.main }}
        <li class=" nav-item text-center">
          <a class="nav-link px-4 col-navbar" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <div class="d-flex flex-column flex-md-row align-items-center">
        {{ range .Site.Menus.externals }}
        <a href="{{ .URL }}" target="_blank" class="{{ .Pre }}">
          <img src="/images/header/github.svg" alt="{{ .Name }}" />
        </a>
        {{ end }}
        {{ range .Site.Menus.buttons }}
        <a class="{{ .Pre }}" href="{{ .URL }}"><img src="/images/icons/icone-download.svg" class="dwn-style me-2"> {{
          .Name
          }}</a>
        {{ end }}
      </div>
      <!-- <ul class="navbar-nav mb-2 mb-xl-0">
        <a href="https://github.com/2060-io" target="_blank" class="github-header">
          {{ partial "utilities/image-fluid" "images/github_icon.png" }}
          <img src="/images/header/github.svg" alt="logo 2060" />
        </a>
      </ul> -->
    </div>
  </div>
</nav>