<section class="section un_header py-5">
  <div class="container un_head_cont">
    <div class="col-12 col-lg-12 d-flex flex-column un_container ">
      {{ with .content.smallTitle }}
      <h6 class="sm-title">{{ . | markdownify}}</h6>
      {{ end }}

      {{ with .content.text }}
      <p class="para-txt">{{ . | markdownify }}</p>
      {{ end }}

      {{ with .content.smText }}
      <p class="small-text">{{ . | markdownify }}</p>
      {{ end }}

    </div>
  </div>
</section>