<div class="email-cards">
    <div class="email-card">
        <h2>Stay up to date with 2060</h2>
    </div>
    <div class="email-card">
        <input type="email" placeholder="Your email">
    </div>
</div>
<footer class="text-center text-lg-start  text-muted" style="margin-top: 10%; background-color: #0c0c12; ">
    <section class="d-flex justify-content-center justify-content-lg-between p-9 border-bottom">
        <div class="me-5 d-lg-block" style="background-color: #0c0c12; margin-left: 0%; margin-top: 10%;">
            <span><img src="/img/logo.png"></span>
        </div>
        <div class="socialicon" style="margin-top: 10%;">
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"><img src="/img/socialicon1.png" width="30" height="25"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-twitter"><img src="/img/socialicon2.png" width="30" height="25"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-google"><img src="/img/socialicon3.png" width="30" height="25"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fab fa-instagram"><img src="/img/socialicon4.png" width="35" height="25"></i>
            </a>
        </div>
    </section>
    <section class="">
        <div class="text-center text-md-start mt-5" style="max-width: unset !important;">
            <div class="row mt-3">
                <div class="submenu col-md-5 col-lg-3 col-xl-3">
                    <p style="color: white; font-weight: 500;">
                        <a href="/integrate" class="text-reset">Integrate</a>
                    </p>
                    <p style="color: white;">
                        <a href="/integrate" class="text-reset">Introduction</a>
                    </p>
                    <p style="color: white;">
                        <a href="/integrate" class="text-reset">Features</a>
                    </p>
                    <p style="color: white;">
                        <a href="/integrate" class="text-reset">Actors</a>
                    </p>
                </div>
                <div class="submenu col-md-5 col-lg-3 col-xl-3">
                    <p style="color: white; font-weight: 500;">
                        <a href="/operate" class="text-reset">Operate</a>
                    </p>
                    <p style="color: white;">
                        <a href="/operate" class="text-reset">Agency Nodes</a>
                    </p>
                    <p style="color: white;">
                        <a href="/operate" class="text-reset">Cloud Agents</a>
                    </p>
                    <p style="color: white;">
                        <a href="/operate" class="text-reset">Data Store</a>
                    </p>
                </div>
                <div class="submenu col-md-5 col-lg-3 col-xl-3">
                    <p style="color: rgb(100, 100, 100); font-weight: 500;">
                        <a href="#!" class="text-reset">Explore</a>
                    </p>
                    <p style="color: rgb(100, 100, 100);">
                        <a href="#!" class="text-reset">News</a>
                    </p>
                    <p style="color: rgb(100, 100, 100);">
                        <a href="#!" class="text-reset">Apps & Services</a>
                    </p>
                    <p style="color: rgb(100, 100, 100);">
                        <a href="#!" class="text-reset">Documentation</a>
                    </p>
                </div>
                <div class="submenu col-md-5 col-lg-3 col-xl-3">
                    <p style="color: white; font-weight: 500;">
                        <a href="/about" class="text-reset">About</a>
                    </p>
                    <p style="color: rgb(100, 100, 100);">
                        <a href="#!" class="text-reset">Press Kit</a>
                    </p>
                    <p style="color: rgb(100, 100, 100);">
                        <a href="#!" class="text-reset">Newsletters</a>
                    </p>
                    <p style="color: rgb(100, 100, 100);">
                        <a href="#!" class="text-reset">Recrutment</a>
                    </p>
                    <p style="color: rgb(100, 100, 100);">
                        <a href="#!" class="text-reset">Privacy</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="copyrights text-center p-4" style="background-color: #0c0c12; color: white;">
        ©2060 - All rights reserved 2022
    </div>
</footer>