.title-feat-container{
    justify-content: center;
    align-items: center;
}
.text-feat{
    text-align: center;
    width: 49%;
}

.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active{
  background-color: rgba(118, 120, 237, 0.1) !important;
}
.title-feat{
    font-size: 1.4rem;
    line-height: 30px;
    height: 20px;
  }
  .feature-card{
    transition: 1s all;
    margin-left: 1rem;
  }
.feature-card p {
  font-size: 1.1rem ;
  padding: 1.5rem;
}
.ui-tabs .ui-tabs-panel {
  background-color: transparent !important; 
  
}
.cards_container{
  background-color: transparent !important; 
}
.ul-container-tab{
  background-color: transparent !important; 
  border: none !important;
  margin-bottom: 3rem !important;
  margin-top: 1rem !important;
  display: flex;
  
}
.bar-separation{
  text-align: center;
}
#tabs{
  border: none !important;
  background-color: transparent !important; 

}

.ul-container-tab li{
  width: 50%;
  border: none !important;
  border-radius: 2px ;
  background-color: rgba(255, 255, 255, 0.54);
}
.ul-container-tab li > a {
  width: 100%;
  text-align: center;
  font-family: 'EuclidCircularA-Bold';
  color: #7678ED !important;
}

.link_tab{
  justify-content: center;
  align-items: center;
}
.img-div-feat-container{
  margin-right: 0.5rem;
}

/* .img-feature2{
    background: url('/images/features/bg-feature.png') no-repeat center center;
    width: 122px;
    height: 104px;
    overflow:hidden;
    margin: 1.5rem auto 1.2rem auto;
}
.img-feature2 img{
    width: 122px;
    height:208px;
    transition: .5s all;
} */
.card-title{
    color: #7678ED; 
}

