.privacy {
    padding: 7rem 0;
}

.title-privacy{
    font-size: 2rem;
    line-height: 2.5rem;
}

.txt-privacy{
    font-size: 1.5rem;
    line-height: 2rem;
}

@media only screen and (max-width:768px) {
    .privacy {
        padding: 3rem 0;
    }
    
    .title-privacy{
        font-size: 1.6rem;
        line-height: 2.1rem;
    }
    
    .txt-privacy{
        font-size: 1.1rem;
        line-height: 1.6rem;
    } 
}