.section.un_header{
    background-image: url("/images/under_header/background_uh.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sm-title{
    color: #3EBDB6;
    margin-bottom: 0.6rem !important;
    font-size: 1.4rem;
    font-family: 'EuclidCircularA-SemiBold';
     

}
.un_container{
    margin: 2rem auto 2rem auto ;
}

.para-txt{
    color: #FFFFFF;
    font-size: 2.1rem ;
    margin-bottom: 1rem !important;
    font-family: "EuclidCircularA-SemiBold";
    text-align: left !important;
    width: 75%;
   
}
.small-text{
    color: #FFFFFF;
    font-size: .9rem;
    font-weight: bold;
}


@media only screen and (max-width : 768px) {
    .para-txt{
        width: 100%;
        font-size:1.9rem ;
    }
}
