<section class="section contact py-0 py-md-5 ">
  <div class="container">
    <div class="d-flex shred-nl-cnt">
      <div class="col-12 col-lg-5 d-flex flex-column justify-content-center div1-contact">
        <div class="title-contact fw-semibold mb-4">
          <h4> <img src="/images/contact-img/img-1.jpg" width="30px" height="30px" /> <span
              class="contact-title">Contact Us</h4>
        </div>
        <p class="para-contact">Whether you have a question, a suggestion, want to<br>
          collaborate, or just want to say hello, we’re all ears. You can use<br>
          the form on our website or send us your inquisitions. Looking<br> forward to hearing from you!
        </p>
        <a href="/contact-us/" class="btn btn-contact fw-medium">Contact</a>

      </div>
      <div class="col-1 d-none justify-content-center align-items-center d-lg-flex">
        <img src="/images/contact-img/sep-contact.svg" alt="" />
      </div>
      <div class="col-12 col-lg-6 d-flex flex-column div2-newslettre">
        <div class="title-contact mb-4">
          <h4> <img src=" /images/contact-img/img-2.jpg" width="30px" height="30px" /> <span class="contact-title">
              Newsletter</span></h4>
        </div>

        <h5 class="h5 fw-bold">Subscribe to our Newsletter</h5>
        <p class="para-contact">Leave us your email address and we will reach out to you with the latest<br> updates on
          how we plan to accelerate Web5
        </p>
        <form id="newsletter" method="POST">
          <div class="row">
            <div class=" col-12 col-md-7">
              <input type="email" class="form-control email-input" placeholder="Your email address" name="email"
                required>
            </div>

            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-primary fw-semibold btn-submit" id="email-btn">Submit</button>
            </div>
          </div>
        </form>
        <div class="my-3 col-12 col-md-10">
          <div id="send-success" class="text-green-soft p-3 rounded-3">
            <p class="mb-0">
              <img src="/images/contact-img/success.svg" alt="" />
              Thank you for subscribing to our newsletter
            </p>
          </div>
          <div id="send-fail" class="p-3 rounded-3">
            <p class="mb-0">
              <img src="/images/contact-img/error.svg" alt="" />
              Please refresh the page and try again
            </p>
          </div>
        </div>
      </div>
    </div>
    <p class="para-policy"> Check our <a href="/privacy-policy/" class="privacy-contact">Privacy Policy</a> to see how
      we
      handle your data.</p>
  </div>
</section>
<script>
  $(document).ready(function (e) {
    $('#newsletter').on('submit', function (e) {
      e.preventDefault();
      const form = document.getElementById('newsletter');
      const data = new FormData(form);
      $.ajax({
        type: 'post',
        url: '/newsletter.php',
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
          $('#send-success').show();
          form.reset();
          return
        },
        error: function (xhr, status, error) {
          console.log({ xhr });
          console.log({ status });
          console.log({ error });
          $('#send-fail').show();
          return
        }
      });
    });
  });
</script>