<section class="section contact py-0 py-md-5 ">
  <div class="container">
    <div class="d-flex shred-nl-cnt">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center div1-contact">
        <div class="title-contact fw-semibold mb-4">
          <h4> <img src="/images/contact-img/img-1.jpg" width="30px" height="30px" /> <span
              class="contact-title">Contact Us</h4>
        </div>
        <p class="para-contact">Whether you have a question, a suggestion, want to<br>
          collaborate, or just want to say hello, we’re all ears. You can use<br>
          the form on our website or send us your inquisitions. Looking<br> forward to hearing from you!
        </p>
        <a href="/2060-contact" class="btn btn-contact py-2">Contact</a>

      </div>
      <div class="col-12 col-xl-6 d-flex flex-column div2-newslettre">
        <div class="title-contact mb-4">
          <h4> <img src=" /images/contact-img/img-2.jpg" width="30px" height="30px" /> <span class="contact-title">
              Newsletter</span></h4>
        </div>

        <h5 class="h5 fw-bold">Subscribe to our Newsletter</h5>
        <p class="para-contact">Leave us your email address and we will reach out to you with the latest<br> updates on
          how we plan to accelerate Web5</p>
        <form method="POST">
          <div class="row">
            <div class=" col-12 col-md-7">
              <input type="email" class="form-control email-input" placeholder="Your email address" name="email">
            </div>

            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-primary btn-submit" id="email-btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p class="para-policy"> Check our <a href="/2060-privacy" class="privacy-contact">Privacy Policy</a> to see how we
      handle your data.</p>
  </div>
</section>