<section class="section features">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-12 title-feat-container d-flex flex-column">
        {{ with .content.title }}
        <h3 class="text-primary fs-big fw-semibold mb-3">{{ . }}</h3>
        {{ end }}
        {{ with .content.text_feat }}
        <p class="text-feat fw-light text-black-80 fs-small"> {{ . }}</p>
        {{ end }}
      </div>
      <div class="bar-separation">
        <img src="images/features/bar_separation.png" />
      </div>
      <div id="tabs" class="tab_container">
        <ul class="ul-container-tab">
          <li style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
            <a href="#tabs-1" class="link_tab d-flex gap-2 ">
              <div class="img-div-feat-container">
                <span class="img-feat-tab"> {{ partial "icons/features_icons/fci.html" }} </span>
              </div>
              <span class="text-uppercase fw-bold d-none d-md-block">For companies and institutions</span>
              <span class="text-uppercase fw-bold d-block d-md-none">Pro</span>
            </a>
          </li>
          <li style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
            <a href="#tabs-2" class="link_tab d-flex gap-2">
              <div class="img-div-feat-container">
                <span class="img-feat-tab">
                  {{ partial "icons/features_icons/feu.html" }}
                </span>
              </div>
              <span class="text-uppercase fw-bold d-none d-md-block">For end-users</span>
              <span class="text-uppercase fw-bold d-block d-md-none">Users</span>
            </a>
          </li>
        </ul>
        <div id="tabs-1" class="cards_container">
          <div class="d-flex flex-column flex-xl-row gap-4">
            {{ range .content.cards }}
            <div class="card p-2 p-md-4 feature-card">
              <div class="d-flex justify-content-center img-feature">
                <!-- {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }} -->
                {{ partial .image }}
              </div>
              <div class="card-body text-center">
                {{ with .title }}<h4 class="card-title fw-semibold text-primary text-center pb-2 title-feat">{{ . }}
                </h4>{{ end }}
                {{ with .text }}<p class="card-text fw-light text-black-80 pb-2">{{ . }}
                  {{ end }}
                  {{ with .text_bold }}<span class="fw-bold">{{ . }}
                    {{ end }}</span>
                </p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        <div id="tabs-2" class="cards_container">
          <div class="d-flex flex-column flex-xl-row gap-4">
            {{ range .content.cards2 }}
            <div class="card p-4 py-5 feature-card">
              <div class="d-flex justify-content-center img-feature">
                <!-- {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }} -->
                {{ partial .image }}
              </div>
              <div class="card-body text-center">
                {{ with .title }}<h4 class="card-title fw-semibold text-primary text-center pb-2 title-feat">{{ . }}
                </h4>{{ end }}
                {{ with .text }}<p class="card-text fw-light text-black-80 pb-2">{{ . }}</p>{{ end }}
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  // (function () {
  //   var elements = document.querySelectorAll('.feature-card')
  //   var traitement = function (element) {
  //     element.addEventListener('mouseenter', function () {

  //       this.style.background = "#7678ED"
  //       this.children[1].children[1].style.color = "#FFFFFF"
  //       this.children[0].style.background = "url('/images/features/bg-feature-hover.png') no-repeat center center"
  //       this.children[0].style.height = "104px"
  //       this.children[0].style.lineHeight = "30px"

  //       // this.children[0].children[0].style.marginTop = '-104px'
  //       var svg = this.children[0].querySelector("svg")
  //       if (svg) {
  //         svg.style.marginTop = "23px"
  //         var path = svg.querySelector("path")
  //         if (path) {
  //           path.setAttribute("stroke", "#FFF")
  //         }
  //       }
  //       this.children[1].children[0].style.color = "#FFFFFF"
  //     })
  //     element.addEventListener('mouseleave', function () {

  //       this.style.background = "#FFF"
  //       this.children[1].children[1].style.color = "#073B4C"
  //       this.children[0].style.background = "url('/images/features/bg-feature.png') no-repeat center center"
  //       // this.children[0].children[0].style.marginTop = '0'
  //       var svg = this.children[0].querySelector("svg")
  //       if (svg) {
  //         var path = svg.querySelector("path")
  //         if (path) {
  //           path.setAttribute("stroke", "#7678ED")
  //         }
  //       }
  //       this.children[1].children[0].style.color = "#7678ED"
  //     })
  //   }

  //   for (var i = 0; i < elements.length; i++) {
  //     traitement(elements[i]);
  //   }
  // })()

</script>

<script>
  (function () {
    var elements = document.querySelectorAll('.link_tab')
    var traitements = function (elemenet) {
      elemenet.addEventListener("click", function () {
        this.style.color = "#FFF"
      })
    }

    for (var i = 0; i < elements.length; i++) {
      traitements(elements[i])
    }
  })()

</script>

<script>
  $(function () {
    $("#tabs").tabs();
  });
</script>