html {
    font-size: 22px;
}

body {
    background-color: #0C0C12;
    /* background-color: #7d7d7d23; */
    padding: 6% 0 1% 0;
    color: white;
}

@media (min-width: 600px) {
    body{
        padding: 3rem 0 0 0;
    }
}

nav{
    z-index: 1;
}

#nav-border{
    top: 20px;
}

.nav-link{
    color: rgb(100, 100, 100) !important;
    text-align: center;
    font-size: 22px;
}

.nav-link.active{
    color: white !important;
}

.cards {
    display: grid;
    width: 100%;
    margin-top: 5%;
    overflow: visible;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    background-color: #0c0c12;
    /* padding: 1rem; */
    margin: 0 0 0 9.2%;
    /* height: 30rem;
    border: 1px solid #0c0c12;
    border-radius: 0%; */
    overflow: visible;
}

.card img{
    /* object-fit: cover; */
    overflow: visible;
}

.card h2 {
    /* max-width: 300px; */
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 2rem 1rem 1rem 0rem;
    margin-left: 9.2%;
    color: white;
}

.card p {
    margin-left: 9.2%;
    max-width: 700px;
}

.discover-text {
    margin-right: 9.2%;
    margin-left: 9.2%;
    /* margin-top: 10%; */

}

@media (min-width: 600px) {
    .discover-text {
        margin-right: 30%;
        margin-left: 30%;
        /* margin-top: 10%; */
    
    }
}

.discover-text p {
    max-width: 550px;
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.discover-text button {
    border: 1px solid #61C4E8;
    margin-top: 10%;
    color: #0c0c12;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    background-color: #61C4E8;
}

.open-standards {
    display: grid;
    width: 100%;
    margin-top: 10%;
}

@media (min-width: 600px) {
    .open-standards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.open-standards-card {
    background-color: #0c0c12;
    padding: 1rem 18% 1rem 18%;
    /* height: 40rem; */
    border: 1px solid #0c0c12;
    border-radius: 0%;
}

.open-standards-card h2 {
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 0% 20% 10% 0%;
    color: white;
}

.open-standards-card p {
    max-width: 550px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    color: white;
}

.open-standards-card img {
    object-fit:cover;
    object-position: right center;
}

.open-standards-card button {
    border: 1px solid #61C4E8;
    border-radius: 30px;
    background-color: #61C4E8;

}

.your-privacy {
    display: grid;
    width: 100%;
    margin-top: 5%;
}

@media (min-width: 600px) {
    .your-privacy {
        grid-template-columns: repeat(2, 1fr);
    }
}

.yourprivacy-card {
    background-color: #0c0c12;
    padding: 1rem;
    height: 35rem;
    border: 1px solid #0c0c12;
    border-radius: 0%;
}

.yourprivacy-card p {
    max-width: 550px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    color: white;
}

.yourprivacy-card h2 {
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 0% 20% 10% 0%;
    color: white;
}

.yourprivacy-card img{
    object-fit: contain;
}

.icon-cards {
    /* max-width: 1200px; */
    margin-left: 12%;
    margin-right: 9%;
    display: grid;
    gap: 1rem;
}

.icon-card {
    font-size: 16px;
    background-color: #0c0c12;
    color: white;
    padding: 1rem;
    /* height: 14rem; */
    border-radius: 20px;
    border: 2px solid #61c4e8;
    transition: 0.8s;
    margin-top: 10%;
}

@media (min-width: 600px) {
    .icon-cards {
        margin-left: 9%;
        margin-right: 9%;
        grid-template-columns: repeat(2, 1fr);
    }
    .icon-card {
        max-width: 250px;
    }
}

@media (min-width: 900px) {
    .icon-cards {
        grid-template-columns: repeat(5, 1fr);
    }
}

.icon-card img {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-card p {
    max-width: 150px; 
    padding-top: 20px;
    text-align: left;
}

.very-verified {
    display: grid;
    margin-top: 15%;
}

@media (min-width: 600px) {
    .very-verified {
        grid-template-columns: repeat(2, 1fr);
    }
}

.very-verified-card {
    background-color: #0c0c12;
    padding: 1rem 9% 1rem 9%;
    margin-left: 9%;
    height: 38rem;
    border: 1px solid #0c0c12;
    border-radius: 0%;
}

.very-verified-card p {
    max-width: 550px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    color: white;
}

.very-verified-card h2 {
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 10% 20% 10% 0%;
    color: white;
}

.very-verified-card img{
    object-fit: contain;
}

.you-network {
    display: grid;
    width: 100%;
    margin-top: 10%;
}

@media (min-width: 600px) {
    .you-network {
        grid-template-columns: repeat(2, 1fr);
    }
}

.you-network-card {
    background-color: #0c0c12;
    padding: 1rem;
    height: 35rem;
    border: 1px solid #0c0c12;
    border-radius: 0%;
}

.you-network-card p {
    max-width: 550px;
    line-height: 32px;
    font-weight: 500;
    text-align: left;
    color: white;
}

.you-network-card h2 {
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 10% 20% 10% 0%;
    color: white;
}

.you-network-card img{
    object-fit: contain;
}

.image-cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-top: 10%;
}

@media (min-width: 900px) {
    .image-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.image-card {
    background-color: #0c0c12;
    color: white;
    padding: 1rem;
    height: 35rem;
}

.image-card p{
    height: 14rem;
}

.image-card img{
    object-fit: cover;
    height: 20rem;
}

.text-cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-top: 10%;
}

@media (min-width: 900px) {
    .text-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.text-card {
    background-color: #0c0c12;
    color: white;
    padding: 1rem;
    height: 9rem;
}

.text-card p {
    font-size: 18px;
}

.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #0c0c12 !important;
}

.text-reset {
    text-decoration: none;
}

.me-4 {
    text-decoration: none;
}

.socialicon {
    margin-right: 5%;
}

.email-cards {
    display: grid;
    width: 100%;
    margin-top: 5%;
}

.email-card {
    background-color: #0c0c12;
    padding: 1rem;
    height: 8rem;
    border: 1px solid #0c0c12;
    border-radius: 0%;
}

.email-card input {
    margin-top: 2%;
    margin-left: 0;
    box-sizing: border-box;
    width: 330px;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid #00B2FF;
    background-color: #0c0c12;
    color: white;
}

.email-card h2 {
    font-size: 35px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
    padding: 7% 0% 0% 0%;
    color: white;
}

@media (min-width: 600px) {
    .email-card input {
        margin-top: 7%;
        margin-left: 2%;
    }
    
    .email-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .email-card h2 {
        padding: 7% 0% 0% 50%;
        text-align: left;
    }
}

footer{
    margin-top: 0% !important;
    padding-left: 9%;
}

.submenu{
    margin-bottom: 1rem;
}

.submenu p {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 0%;
}

@media (min-width: 600px) {
    .submenu p {
        margin-left: 50%;
    }
}

@media (min-width: 768px) {
    .submenu p {
        margin-left: 50%;
    }
}

@media (min-width: 900px) {
    .submenu p {
        margin-left: 0;
    }
}

.copyrights{
    font-size: 16px;
}


/* Integrate */
.earn-operating {
    display: grid;
    width: 100%;
    /* margin-top: 5%; */
}

@media (min-width: 600px) {
    .earn-operating {
        grid-template-columns: repeat(2, 1fr);
    }
}

.earn-operating-card {
    background-color: #0c0c12;
    padding: 1rem;
    /* height: 25rem; */
    border: 1px solid #0c0c12;
    border-radius: 0%;
}

.earn-operating-card h2 {
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 0% 20% 6% 5%;
    color: white;
    /* margin-left:9.2% !important; */
}

.earn-operating-card p {
    line-height: 32px;
    max-width: 900px;
    font-weight: 500;
    text-align: left;
    padding: 0% 20% 0% 5%;
    color: white;
    object-position: center;
    /* margin-left:9.2% !important; */
}

.earn-operating-card img {
    padding: 0% 0% 0% 0%;
}

@media (min-width: 900px) {
    .earn-operating-card img {
        padding: 0% 20% 0% 20%;
    }
}

/* About */
.cover-cards {
    display: grid;
    width: 100%;
}

@media (min-width: 300px) {
    .cover-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cover-card {
    /* background-color: #0c0c12; */
    /* padding: 1rem; */
    /* height: 7rem;
    border: 1px solid #0c0c12;
    border-radius: 0%; */
    /* width: 10rem; */
    z-index: 1;
}

.cover-card h2 {
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 5% 0% 0% 0;
    color: white;
    margin-top: 5rem;
    margin-left: 9%;
    width: 20rem;
}

.cover-card p {
    text-align: left;
    color: white;
    /* margin-top: -40rem; */
    margin-left: 9%;
    width: 20rem;
}

.cover-banner-card {
    display: grid;
    width: 100%;
    background-color: #0c0c12;
    border: 1px solid #0c0c12;
    border-radius: 0%;
    height: unset;
}

@media (min-width: 900px) {
    .cover-banner-card {
        grid-template-columns: repeat(1, 1fr);
        height: 40rem;
    }
}

.cover-banner-card {
}

.cover-banner-card img {
    position:absolute;
    top:5rem;
    object-position: center top;
    width: 100%;
    object-fit:cover;
    z-index: 0;
}

.team {
    background-color: #0c0c12;
    /* padding: 1rem; */
    height: 7rem;
    border: 1px solid #0c0c12;
    border-radius: 0%;
}

.team h2 {
    line-height: 52px;
    font-weight: 700;
    text-align: left;
    padding: 5% 20% 20% 0%;
    color: white;
    margin-left: 9%;
}

.team-image-cards {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-top: 10%;
    padding-left: 9%;
}

@media (min-width: 900px) {
    .team-image-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

.team-image-card {
    background-color: #0c0c12;
    color: white;
    padding: 1rem 0;
    height: 38rem;
}
.team-image-card h5{
    padding-top: 5%;
    max-width: 300px;
}
.team-image-card p{
    padding-top: 2%;
    max-width: 300px;
}
.team-image-card a{
    font-size: 12px;
    padding-top: 2%;
    max-width: 300px;
    color: white;
}