@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/euclidcirculara-light-webfont.woff2') format('woff2'),
    url('/fonts/euclidcirculara-light-webfont.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/euclidcirculara-regular-webfont.woff2') format('woff2'),
    url('/fonts/euclidcirculara-regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/euclidcirculara-medium-webfont.woff2') format('woff2'),
    url('/fonts/euclidcirculara-medium-webfont.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/euclidcirculara-semibold-webfont.woff2') format('woff2'),
    url('/fonts/euclidcirculara-semibold-webfont.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/euclidcirculara-bold-webfont.woff2') format('woff2'),
    url('/fonts/euclidcirculara-bold-webfont.woff') format('woff');
  font-weight: 700;
}