.navbar-light {
  box-shadow: 0px 3px 10px rgba(#0072B6, 0.2);
  font-family: $font-family-base;
  font-weight: 600;

  .navbar-brand {
    img {
      width: auto;
      max-height: calc(2rem + .6vw);
    }
  }

  .navbar-nav {
    .nav-link {
      color: $green-hard;

      &:hover {
        color: $green-soft;
        border-bottom: 2px solid $primary;
      }


    }
  }

  .github-header {
    text-decoration: none;

    img {
      width: 50px;
      height: 42px;
    }

    &:hover {
      opacity: .8;
      transition: .2s opacity;
    }
  }

  .btn-header-download {
    &:hover {
      background-color: rgba($color: #3EBDB6, $alpha: .8) !important;
      transition: .2s background-color;
    }
  }

}

.navbar-collapse .nav-menu li {
  padding: 0 2rem;

  a {
    text-decoration: none;
    padding: 1rem 0 0.3rem 0 !important;
    text-align: center;
    border-bottom: 2px solid #fff;
  }
}

.header-nav-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 15;
}

.dwn-style {
  width: 20px;
  height: 15px;
}

/* Mobile Version ...  */


// @media screen and (max-width : 768px) {
//   .github-header {
//     width: 50px;
//     height: 40px;
//   }
// }