<section class="section contact_form py-5">
  <div class="container">
    <div class="row portfolio-feature contact-conatiner-form-and-desc ">
      <div class="col-12 col-lg-6 d-flex flex-column ">
        {{ with .actionForm }}
        <form action="{{ . }}" method="POST" class="form-contact">
          {{ end }}

          <div class="mb-3 mt-3">
            <label for="name" class="form-label">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Enter your full name" name="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email address" name="email">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phone" placeholder="+xx xxx xxxx xxxxx" name="phone">
          </div>
          <div class="mb-3">
            <label for="message" class="form-check-label mb-2">Message</label><br>
            <textarea name="message" id="message" placeholder="Edit..."></textarea>
          </div>
          <div class="buttons-s-c">
            <input type="reset" value="Clear" class="btn fw-semibold clear-button">
            <button type="submit" class="btn fw-semibold submit-button">Submit</button>
          </div>

        </form>
      </div>
      <div class="col-12 col-lg-6 d-flex flex-column contact-text">
        {{ with .title }}
        <h4 class="h4 ml-4 mb-4 title-contact-rt">{{ . }}</h4>
        {{ end }}
        <ul class="">
          {{ range .content.listRule }}
          <li class="li mb-3">
            <div class="img-check">
              <img src="/images/contact-img/check.png" class="me-2 img-sl">
            </div>
            <div>
              {{ with .list }}
              <h4>{{ . }}</h4>
              {{ end }}
              {{ with .desc }}
              <p class="desc-form"> {{ . }} </p>
              {{ end }}
            </div>
          </li>
          {{ end }}

        </ul>

      </div>
    </div>
  </div>
</section>