<section class="section hologram download">
    
        
        
       
        


        <div class="container download_container">
            <div class="container-dwn-home">
              <div class="cube-wrap-dwn col-12 col-lg-7 img-dwn-container">
                <div class="cube-dwn">
                  <!-- <img src="/images/download_images/phone.png" class="img-dwn-home" />
                  <img src="/images/download_images/user-1.png" class="img-dwn-user1" />
                  <img src="/images/download_images/user-2.png" class="img-dwn-user2" />
                  <img src="/images/download_images/add-service.png" class="img-dwn-service" />
                  <img src="/images/download_images/bloc-chat-user-2.png" class="img-dwn-chat1" />
                  <img src="/images/download_images/bulle-chat-user-1.png" class="img-dwn-chat2" />
                  <img src="/images/download_images/fieand-chat.png" class="img-dwn-fienad" />
                  <img src="/images/download_images/id-card.png" class="img-dwn-card" />
                  <img src="/images/download_images/scan-service.png" class="img-dwn-scan" /> -->
                  <img src="/images/download_images/download-img.png" class="img-dwn" />
        
                </div>
              </div>
              <div class="col-12 col-lg-5 d-flex flex-column justify-content-center py-2 py-md-5 dwn-desc-content">
                <img src="/images/hologram-app.png" style="width:280px; border: 0px"/>
                <h3 class="text-center text-lg-start mb-5 text-secondary fw-semibold fs-big title-dwn">{{ . | markdownify }}
                </h3>
               
                {{ with .content }}
                <p class="text-lg-start pb-4 txt-dwn">
                  {{ .text | markdownify}}
                  <span class="bold-dwn-txt">{{ .bold_txt }}</span>
                  {{ .txt2 | markdownify }}
                </p>
                {{ end }}
                {{ with .content }}
                <p class="text-lg-start pb-4 txt-dwn">
                  {{ .text3 | markdownify }}
                  <span class="color-txt">{{ .col_txt_dwn }}</span>
                  {{ .txt4 | markdownify }}
                </p>
                {{ end }}
                <div class="d-flex flex-column flex-lg-row ">
                  {{ with .content.buttonplay }}
                  <a class="btn btn-outline-primary px-4 my-1 d-flex align-items-center justify-content-center dwn-btns const-btn"
                    href="{{ .url }}">
                    <span class="me-3 ">
                      {{ partial "icons/download_icons/icon_play_store.html" }}
                    </span>
                    {{ .label }}
                  </a>
                  {{ end }}
                  {{ with .content.buttonapp }}
                  <a class="btn btn-outline-primary px-4 my-1 d-flex align-items-center justify-content-center dwn-btns const-btn"
                    href="{{ .url }}">
                    <span class="me-3 appstore_icon"> <svg class="icon_dwn" xmlns="http://www.w3.org/2000/svg" width="20pt"
                        height="18pt" viewBox="0 0 496.255 608.728">
                        <path
                          d="M273.81 52.973C313.806.257 369.41 0 369.41 0s8.271 49.562-31.463 97.306c-42.426 50.98-90.649 42.638-90.649 42.638s-9.055-40.094 26.512-86.971zM252.385 174.662c20.576 0 58.764-28.284 108.471-28.284 85.562 0 119.222 60.883 119.222 60.883s-65.833 33.659-65.833 115.331c0 92.133 82.01 123.885 82.01 123.885s-57.328 161.357-134.762 161.357c-35.565 0-63.215-23.967-100.688-23.967-38.188 0-76.084 24.861-100.766 24.861C89.33 608.73 0 455.666 0 332.628c0-121.052 75.612-184.554 146.533-184.554 46.105 0 81.883 26.588 105.852 26.588z"
                          fill="#7678ED" />
                      </svg> </span>
                    {{ .label }}
                  </a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        
        
        
       
    
    
    
</section>

<script>
        
    (function () {
      var elements = document.querySelectorAll(".const-btn");
      var traitement = function (element) {
        element.addEventListener("mouseenter", function () {
          var svg = this.querySelector('svg');
          if (svg) {
            var path = svg.querySelector('path');
            if (path) {
              path.setAttribute('fill', '#FFF');
            }
  
          }
        });
  
        element.addEventListener("mouseleave", function () {
          var svg = this.querySelector('svg');
          if (svg) {
            var path = svg.querySelector('path');
            if (path) {
              path.setAttribute('fill', '#7678ED');
            }
          }
        });
      }
  
      for (var i = 0; i < elements.length; i++) {
        traitement(elements[i]);
      }
  
    })();
  
  </script>
  
  
  <script>
    (function () {
      var element = document.querySelector(".cube-wrap-dwn")
  
      var position = (element.offsetWidth) / 2
      var cube = element.getBoundingClientRect().left
  
      element.addEventListener('mousemove', function (e) {
        var mousePosition = e.pageX;
        if (mousePosition > (cube + position)) {
          var transform = "scale3d(1,1,1) rotateX(0deg) rotateY(2deg) rotateZ(0deg)"
          element.children[0].style.transform = transform
  
        }
        else {
          var transform = "scale3d(1,1,1) rotateX(0deg) rotateY(-2deg) rotateZ(0deg)"
          element.children[0].style.transform = transform
        }
      })
      element.addEventListener('mouseenter', function () {
        var transform = "scale3d(1.02,1.02,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)"
        var transform2 = "scale3d(1.04,1.04,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)"
        element.children[0].children[0].style.transform = transform
        element.children[0].children[1].style.transform = transform2
        element.children[0].children[2].style.transform = transform2
        element.children[0].children[3].style.transform = transform2
        element.children[0].children[4].style.transform = transform2
        element.children[0].children[5].style.transform = transform2
        element.children[0].children[6].style.transform = transform2
        element.children[0].children[7].style.transform = transform2
        element.children[0].children[8].style.transform = transform2
  
  
      })
      element.addEventListener('mouseleave', function () {
  
        var transform = "scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)"
        var transform2 = "scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)"
        element.children[0].children[0].style.transform = transform
        element.children[0].children[1].style.transform = transform2
        element.children[0].children[2].style.transform = transform2
        element.children[0].children[3].style.transform = transform2
        element.children[0].children[4].style.transform = transform2
        element.children[0].children[5].style.transform = transform2
        element.children[0].children[6].style.transform = transform2
        element.children[0].children[7].style.transform = transform2
        element.children[0].children[8].style.transform = transform2
      })
  
  
  
    })()
  </script>