<section class="section hologram">
    <div class="container text-green-hard">
        <p class="txt-privacy fw-light mb-5">Hologram.</p>
        {{ range .content }}
        {{ with .title }}
        <h4 class="mb-3 title-privacy fw-semibold">{{ . }}</h4>
        {{ end }}
        {{ with .description }}
        <p class="mb-5 txt-privacy fw-light">{{ . }}</p>
        {{ end }}
        {{ end }}


        <h3 class="fs-1 fw-semibold text-primary pb-3" style="color: #7678ED !important;">Terms of Service</h3>
        <p class="mb-5 txt-privacy fw-light">Hologram Messenger LLC. (“Hologram”) utilizes state-of-the-art security and end-to-end encryption to provide private messaging, Internet calling, and other services to users worldwide. You agree to our Terms of Service (“Terms”) by installing or using our apps, services, or website (together, “Services”).</p>
        <h4 class="mb-3 title-privacy fw-semibold">About our services</h4>
        <p class="mb-5 txt-privacy fw-semibold">Minimum Age</p>
        <p class="mb-5 txt-privacy fw-light">You must be at least 13 years old to use our Services. The minimum age to use our Services without parental approval may be higher in your home country.</p>
        <p class="mb-5 txt-privacy fw-semibold">Account Registration</p>
        <p class="mb-5 txt-privacy fw-light">To create an account you must register for our Services using your phone number. You agree to receive text messages and phone calls (from us or our third-party providers) with verification codes to register for our Services.</p>
        
        <p class="mb-5 txt-privacy fw-semibold">Privacy of user data</pp>
        <p class="mb-5 txt-privacy fw-light">Hologram does not sell, rent or monetize your personal data or content in any way – ever. Please read our Privacy Policy to understand how we safeguard the information you provide when using our Services. For the purpose of operating our Services, you agree to our data practices as described in our Privacy Policy, as well as the transfer of your encrypted information and metadata to the United States and other countries where we have or use facilities, service providers or partners. Examples would be Third Party Providers sending you a verification code and processing your support tickets.</p>
        
        <p class="mb-5 txt-privacy fw-semibold">Software</p>
        <p class="mb-5 txt-privacy fw-light">In order to enable new features and enhanced functionality, you consent to downloading and installing updates to our Services.</p>
        
        <p class="mb-5 txt-privacy fw-semibold">Fees and Taxes</p>
        <p class="mb-5 txt-privacy fw-light">You are responsible for data and mobile carrier fees and taxes associated with the devices on which you use our Services.</p>
        
        


    </div>
</section>