<section class="section hologram">
    <div class="container text-green-hard">
        <p class="txt-privacy fw-light mb-5">Hologram.</p>
        {{ range .content }}
        {{ with .title }}
        <h4 class="mb-3 title-privacy fw-semibold">{{ . }}</h4>
        {{ end }}
        {{ with .description }}
        <p class="mb-5 txt-privacy fw-light">{{ . }}</p>
        {{ end }}
        {{ end }}


        <h3 class="fs-1 fw-semibold text-primary pb-3" style="color: #7678ED !important;">Terms of Service</h3>
        <h4 class="mb-3 title-privacy fw-semibold">Terms of Service</h4>
        <p class="mb-5 txt-privacy fw-light">Hologram Messenger LLC. (“Hologram”) utilizes state-of-the-art security and end-to-end encryption to provide private messaging, Internet calling, and other services to users worldwide. You agree to our Terms of Service (“Terms”) by installing or using our apps, services, or website (together, “Services”).</p>
        <h4 class="mb-3 title-privacy fw-semibold">About our services</h4>
        <p class="mb-5 txt-privacy fw-light">Minimum Age. You must be at least 13 years old to use our Services. The minimum age to use our Services without parental approval may be higher in your home country.</p>
        <h4 class="mb-3 title-privacy fw-semibold">Account Registration</h4>
        <p class="mb-5 txt-privacy fw-light">To create an account you must register for our Services using your phone number. You agree to receive text messages and phone calls (from us or our third-party providers) with verification codes to register for our Services.</p>
        
        <h4 class="mb-3 title-privacy fw-semibold">Privacy of user data</h4>
        <p class="mb-5 txt-privacy fw-light">Hologram does not sell, rent or monetize your personal data or content in any way – ever.</p>
        
        
        

    </div>
</section>