<section class="section portfolio">
  <div class="container-fluid">
    <!-- {{ with .para_uc_top }}
        <p>{{ . }}</p>

      {{ end }} -->

    {{ range .content }}
    {{ with .id }}
    <div class="row portfolio-feature" id="{{ . }}">
      {{ end }}
      <div class="portfolio-feature-container align-items-center py-4 py-lg-0">

        <div class="container desc-usecase-for-mobile">
          {{ with .title }}
          <h3 class="fs-1 fw-semibold text-primary pb-3" style="color: #3EBDB6 !important;">{{ . }}</h3>
          {{ end }}
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center mt-5 img-container-uc ">
          {{ with .image }}
          <img src="{{ . }}" alt="img-sign" class="img-fuild uc-image" id="image">
          {{ end }}

          <div class="qr-code-scan-replace-img" id="qr-code-scan-replace-img">
            {{ with .qr_scan_uc_img }}
            <img src="{{ . }}" alt="" />
            {{ end }}
          </div>

        </div>
        <div class="col-12 col-md-6 d-flex flex-column desc-usecase">

          {{ with .img }}
          <img src="{{ . }}" alt="img-sign" class="img-fuild-left">
          {{ end }}
          <div class="text-content">
            {{ with .title }}
            <h3 class="fs-big fw-semibold text-primary pb-3 h3-uc-title" style="color: #3EBDB6 !important;">{{ . }}</h3>
            {{ end }}
            {{ with .para }}
            <p class="text-green-hard fw-light pb-3 para-uc-container">{{ . }}
              {{ end }}
              {{ with .bold_txt }}
              <span class="fw-bold">{{ . }}</span>
              {{ end }}
              {{ with .para2 }}
              {{ . }}
              {{ end }}
              {{ with .bold_txt2 }}
              <span class="fw-bold">{{ . }}</span>
              {{ end }}
            </p>

          </div>
          {{ range .buttons }}
          <div class="cls-btn-uc-container anc-btn-uc-sm">
            <button class="text-decoration-none me-1 fw-bold scan-link scan-btn-uc" id="btn-scan">{{ .label }}
              <i class="fas fa-arrow-right right-arrow" style="color: rgb(62, 189, 182);"></i>
              <span class="qr-scan-uc-btn">{{ partial "icons/usecases_icons/qr_btn.html" }}</span>
            </button>

            <button class="text-decoration-none me-1 fw-bold back-btn">
              <i class="fas fa-arrow-left left-arrow"></i>
              Back
            </button>
          </div>
          {{ end }}
          {{ with .reminder }}
          <p class="mt-3 text-green-hard reminder">{{ . }}</p>
          {{ end}}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>


<script>

  function changeSvgColorOnHover() {
    var elements = document.querySelectorAll(".scan-link");
    var traitement = function (elem) {
      elem.addEventListener("mouseenter", function () {
        this.style.transition = "0.5s all"
        this.style.background = "#073B4C"
        this.style.color = "#FFF"
        this.children[0].style.color = "#3EBDB6"
        var get_path = this.children[1].children[0].children[0];
        var paths = get_path.querySelectorAll("path");
        paths.forEach(function (path) {
          path.setAttribute("stroke", "#FFF");
        });
      });
      elem.addEventListener("mouseleave", function () {
        this.style.background = "#F2F5F6"
        this.style.color = "#073B4C"
        var get_path = this.children[1].children[0].children[0];
        var paths = get_path.querySelectorAll("path");
        paths.forEach(function (path) {
          path.setAttribute("stroke", "#073B4C");
        });
      });
    };
    for (var i = 0; i < elements.length; i++) {
      traitement(elements[i]);
    }
  }


  function apearQrImgCode() {
    var elements = document.querySelectorAll(".scan-btn-uc")
    var apear = function (element) {
      element.addEventListener('click', function () {
        this.parentNode.parentNode.parentNode.children[1].children[0].style.display = "none";
        this.parentNode.parentNode.parentNode.children[1].children[1].style.display = "block";
        this.style.display = "none"

        this.parentNode.children[1].style.display = "block"
        // this.parentNode.children[1].style.marginBottom = "2rem"
      })
    }
    for (var i = 0; i < elements.length; i++) {
      apear(elements[i]);
    }

    var buttonsBack = document.querySelectorAll(".back-btn")
    var button = function (elem) {
      elem.addEventListener("click", function () {
        this.parentNode.parentNode.parentNode.children[1].children[0].style.display = "block";
        this.parentNode.parentNode.parentNode.children[1].children[1].style.display = "none";
        this.style.display = "none"
        this.parentNode.children[0].style.display = "block"
      })
    }
    for (var i = 0; i < buttonsBack.length; i++) {
      button(buttonsBack[i]);
    }
  }


  changeSvgColorOnHover();
  apearQrImgCode();


</script>
<script type="text/javascript">
  $(function () {
    tabhash = document.location.hash.split('#');
    var ancre = tabhash[1];
    $("html:not(:animated),body:not(:animated)").scrollTop(0);
    if (ancre != null) {
      var destination = $("#" + ancre).offset().top;
      $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination - 80 + 'px' }, 4000, "easeOutQuart");
    }
  });
</script>