<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="267" height="267" viewBox="0 0 267 267">
  <defs>
    <filter id="Ellipse_3" x="0" y="0" width="267" height="267" filterUnits="userSpaceOnUse">
      <feOffset dy="14" input="SourceAlpha"/>
      <feGaussianBlur stdDeviation="37" result="blur"/>
      <feFlood flood-color="#b2b2b2" flood-opacity="0.169"/>
      <feComposite operator="in" in2="blur"/>
      <feComposite in="SourceGraphic"/>
    </filter>
  </defs>
  <g id="Group_233" data-name="Group 233" transform="translate(-174.949 -5604)">
    <g transform="matrix(1, 0, 0, 1, 174.95, 5604)" filter="url(#Ellipse_3)">
      <circle id="Ellipse_3-2" data-name="Ellipse 3" cx="22.5" cy="22.5" r="22.5" transform="translate(111 97)" fill="rgba(220,240,255,0.25)"/>
    </g>
    <path id="Vector" d="M22,.01a7.72,7.72,0,0,1-2.08,3.67,4.5,4.5,0,0,1,.08.83c0,11.5-11,16.5-20,11.5a11.64,11.64,0,0,0,7-2c-9-4-5-13-5-13a10.66,10.66,0,0,0,3.931,3.4A10.66,10.66,0,0,0,11,5.54v-1a4.48,4.48,0,0,1,7.86-3A10.9,10.9,0,0,0,22,.01Z" transform="translate(297.449 5714.99)" fill="#fff"/>
  </g>
</svg>
